div.ins-search
  div.ins-search-mask
  div.ins-search-container
    div.ins-input-wrapper
      input(class='ins-search-input' placeholder='Search' autocomplete='off' type='text' name='q' results='0')
      button(type='button' class='close ins-close ins-selectable' data-dismiss='modal' aria-label='Close')
        span(aria-hidden='true')='×'
    div.ins-section-wrapper
      div.ins-section-container
        //- section.ins-section
        //-   header.ins-section-header 文章
        //- section.ins-section
        //-   header.ins-section-header 页面
        //- section.ins-section
        //-   header.ins-section-header 分类
        //- section.ins-section
        //-   header.ins-section-header 标签

