extends base
block title
  title= page.title + ' | ' + config.title
block content
  .post
    h1.post-title= page.title
    .post-content
      != page.content
      section#process
        div.container
          div.row
            div(class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2")
              div(class="timeline-centered")
                div.line
                div.present Now
                div.dot_tp
                div.born Past
                div.dot_bt
                - for (var i in site.data.timeline)
                    div.timeline-entry
                      div.timeline-entry-inner
                        div(class="timeline-icon wow fadeInUp" data-wow-delay="0.2s")
                          span.number= site.data.timeline[i].num
                        div(class="timeline-label wow fadeInUp" data-wow-delay="0.2s")
                          span.word= site.data.timeline[i].word
  //- include _partial/timeline_paginator.pug

